@{
  Layout = "_Layout";
}
<div class="container">
<h1>Ready to play?</h1>
<form action="/words" method="post">
  <label for="new-word">Add a new word</label>
  <input id="new-word" name="new-word" type="text">
  <label for="new-sentence">Add a new sentence</label>
  <input id="new-sentence" name="new-sentence" type="text">

  <button type="submit">Submit</button>
</form>
</div>
