<h2>Your result</h3>

<p>Your Word Input : "@Model.GetWord()"<p>

<br>
<p>Your Sentence : "@Model.GetSentence()"<p>

<br>
<p>Your Word "@Model.GetWord()" appeared "@Model.GetCountWords()" times!</p>

<h3><a href="/words/new">Go back</a></h3>
