
@{
  Layout = "_Layout";
}
<div class="container">
<h2>Welcome!</h2>
<img src="~/img/word-counter.jpg" id="wordcounter">

<br>
<br>
<button type="button" class="btn btn-warning"><a href="/words/new">Start!</a></button>
</div>
