
@{
  Layout = "_Layout";
}

<h1>Welcome To Word Counter!</h1>
<img src="~/img/word-counter.jpg">
<h2>By: Julius</h2>


<button type="button" class="btn btn-warning"><a href="/words/new">Start!</a></button>
